.page {
  min-height: 100vh;
  width: 100%;
  background-color: #abc4ab;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.page__main-content {
  background-color: #f7e9da;
  width: 100%;
  max-width: 1200px;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  box-sizing: border-box;
  position: relative;
}
