.name-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(10, 16, 13, 0.7);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-modal__content {
  background-color: #fdfbf7;
  border: 3px solid #0a100d;
  box-shadow: 8px 8px 0px #0a100d;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-modal__title {
  font-family: monospace;
  font-size: 1.8rem;
  color: #0a100d;
  margin: 0 0 10px 0;
  text-align: center;
}

.name-modal__input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 15px;
  font-family: monospace;
  font-size: 1rem;
  border: 3px solid #0a100d;
  background-color: transparent;
  outline: none;
  transition: all 0.2s ease;
}

.name-modal__input:focus {
  background-color: #c8b9eb;
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px #0a100d;
}

/* 5. El botón de Guardar */
.name-modal__save-button {
  padding: 12px;
  background-color: #abc4ab;
  color: #0a100d;
  border: 3px solid #0a100d;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 4px 4px 0px #0a100d;
  transition: all 0.1s ease;
}

.name-modal__save-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #0a100d;
}

.name-modal__save-button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #0a100d;
}

.name-modal__close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-color: #f4c4d9;
  border: 3px solid #0a100d;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 3px 3px 0px #0a100d;
  transition: all 0.1s ease;
}

.name-modal__close-button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px #0a100d;
}
