@import url("./components/App/App.css");
@import url("./components/Header/header.css");
@import url("./components/Navigation/navigation.css");
@import url("./components/Login/login.css");
@import url("./components/Register/register.css");
@import url("./components/BookSearch/bookSearch.css");
@import url("./components/BookCard/bookCard.css");
@import url("./components/BookGallery/bookGallery.css");
@import url("./components/form/EditAvatar/editAvatar.css");
@import url("./components/Library/library.css");
@import url("./components/Footer/footer.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: #abc4ab;
}
