.navigation {
  width: 120px;
  background-color: #abc4ab;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.navigation__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.navigation__link {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  color: #0a100d;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.76rem;
  padding: 12px 15px;
  margin-bottom: 15px;
  background-color: #fdfbf7;
  border: 1px solid #0a100d;
  box-shadow: 2px 2px 0px #0a100d;
  transition: all 0.2s ease;
  display: flex;
  gap: 10px;
}

.navigation__link:hover {
  background-color: #f4c4d9;
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #0a100d;
}

.navigation__link:active {
  background-color: #c8b9eb;
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #0a100d;
}

.navigation__footer {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.navigation__email {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
}
