.book-search__search-bar {
  background-color: #abc4ab;
  margin: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.book-search__form {
  display: flex;
  justify-content: space-between;
}

.book-search__input {
  border: none;
  background-color: #abc4ab;
  padding: 5px;
  width: 100%;
  color: #6d4c3d;
}

.book-search__input::placeholder {
  color: #6d4c3d;
}

.book-search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.book-search__button img {
  width: 24px;
  height: auto;
  object-fit: contain;
}
